@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: inherit;
  font-family: "Euclid Circular A", sans-serif;
}

body {
  background-color: #f2f2fe;
}
/* .font__header::before {
  content: "";
  position: absolute;
  width: 420px;
  height: 30px;
  top: 300px;
  background-color: #fbaeae;
} */
